.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addnav {
  width: 700px;
  margin: auto;
  padding: 2rem;
  text-align: left;
}
.addnav input {
  margin: 1rem 0px;
}

.displayUsers h1,
h2 {
  color: #204a6e;
  display: inline;
}

.displayEachUsers {
  /* border: 1px solid #251905; */
  width: 700px;
  margin: 0px auto;
  padding: 2rem;
  /* border-radius: 10px; */
  /* -webkit-box-shadow: 4px 4px 12px -4px rgba(0,0,0,0.66); 
  box-shadow: 4px 4px 12px -4px rgba(0,0,0,0.66); */
  background-color: #add8e6;
  text-align: left;
}
.displayEachUsers input,
button {
  margin: 1rem 0px;
}
.displayEachUsers button {
  margin-right: 1rem;
}
